@model Producto
@{
    ViewData["Title"] = "Detalle del Producto";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>@Model.Nombre</h2>
    <dl>
        <dt> Id </dt>
        <dd> @Model.Id </dd>

        <dt> Precio </dt>
        <dd> @Model.Precio.ToString("C") </dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
<br>
<a asp-action="Index"> Volver al listado </a>